@{
    ViewBag.Title = "Valuer Response";
    Layout = null;
}
<style type="text/css">
    .tblForm td {
        height: 28px;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "valuerResponse", onsubmit = "return validateForm()" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)



    <input type="hidden" name="EstimationRequestId" id="EstimationRequestId" value='@TempData["requestid"]' />
    <div style="color:red">
        @{
    if (TempData["ErrorMEssage"] != null)
    {
        Write(TempData["ErrorMEssage"]);
    }
        }
    </div>
    @Html.Raw(TempData["requestinfo"])
    <table align="center" style="color:black" class="tblForm">
        <tr>
            <td><b>Status: &nbsp;</b></td>
            <td>
                @{
                    @Html.DropDownList("Status");
                }
            </td>
            <td></td>
        </tr>    
    <tr>
            <td><b>Response: &nbsp;</b></td>
            <td>
                
                <textarea id="ValuerRemark" name="ValuerRemark">@(TempData["ValuerRemark"])</textarea>
                            </td>
            <td><div id="responsemsg" style="color:red"></div></td>
        </tr>



        <tr>
            <td colspan="3">
                <input type="button" value="Save" class="linkEffect" style="margin-left:70px;margin-top:14px" onclick="respond()" />
                <div id="status2" style="color:blue"></div>
            </td>

        </tr>
    </table><br />
    <hr />






}
<script>


    function validateForm() {
        document.getElementById("responsemsg").innerHTML = "";
        if (document.getElementById("ValuerRemark").value == "") {
            document.getElementById("responsemsg").innerHTML = "Please fill response.";
        return false;
        }





        return true;

    }

    function respond() {
        document.getElementById("status2").innerHTML = "";
        // Checking whether FormData is available in browser
        if (validateForm()) {

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object

            fileData.append("Status", document.getElementById("Status").value);
            fileData.append("ValuerRemark", document.getElementById("ValuerRemark").value);
            fileData.append("requestid", document.getElementById("EstimationRequestId").value);



            $.ajax({
                url: '../Upload/Evaluate',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                        document.getElementById("status2").innerHTML = result;
                    location.reload();

                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            //alert("FormData is not supported.");
        }

    }


</script>




