@{
    ViewBag.Title = "Valuation Request";
    Layout = null;
}
<style type="text/css">
    .tblForm td {
        height: 56px;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "finalReport", onsubmit = "return validateForm()" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <input type="hidden" name="EstimationRequestId" id="EstimationRequestId" value='@TempData["requestId"]' />
    <div style="color:red">
        @{
    if (TempData["ErrorMEssage"] != null)
    {
        Write(TempData["ErrorMEssage"]);
    }
        }
    </div>
    <h2>Final report for valuation request by @TempData["branch"] for @TempData["applicant"] on @TempData["requestdate"]</h2>
    <table align="center" style="color:black;" class="tblForm">
        <tr>
            <td><b>Remark &nbsp;</b></td>
            <td>
                <textarea name="CSRRemark" id="CSRRemark">@(TempData["CSRRemark"])</textarea><br />
            </td>
            <td><div id="remarkmsg" style="color:red"></div></td>
        </tr>


        <tr>
            <td><b>Report &nbsp;</b></td>
            <td>
                <input type="file" name="File" id="File" /><br />
            </td>
            <td><div style="color:red" id="filemsg"></div></td>
        </tr>
        

        <tr>
            <td colspan="3">
                <input type="button" value="   Upload   " class="linkEffect" onclick="finalReport()" />
                <div id="status" style="color:blue"></div>
            </td>

        </tr>
    </table><br />
    <hr />
    <br />
    




}
<script>

        

    
    function validateForm() {
        document.getElementById("remarkmsg").innerHTML = "";
        document.getElementById("filemsg").innerHTML = "";
        var filePath = $("#File").val();
        var file_ext = "";
        if (filePath != "") {
        filePath.substr(filePath.lastIndexOf('.') + 1, filePath.length);
        }
        if (filePath != "" && file_ext != "pdf" && file_ext != "PDF") {
            document.getElementById("filemsg").innerHTML = "Only pdf files are allowed.";
        return false;
        }

        var csrRemark = document.getElementById("CSRRemark").value;
        if (csrRemark == "") { 
            document.getElementById("remarkmsg").innerHTML = "Please explain the final report you are trying to upload.";
        }


        



        return true;

    }

    function finalReport() {
        document.getElementById("status").innerHTML = "";
        // Checking whether FormData is available in browser
        if (validateForm()) {
            var fileUpload = $("#File").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < 1; i++) {
                fileData.append("File", files[i]);
            }

            // Adding one more key to FormData object
            fileData.append('EstimationRequestId', document.getElementById('EstimationRequestId').value);
            fileData.append('CSRRemark', document.getElementById('CSRRemark').value);

            $.ajax({
                url: '../Upload/FinalReport',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                        document.getElementById("status").innerHTML = result;
                    

                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            //alert("FormData is not supported.");
        }

    }


</script>


